a{
    text-decoration:none; 
}

.linkedIn{
    color: #0e76a8;
    text-decoration:none;
}

.github{
    color:#171515;
    text-decoration: none;
}

.mail{
    color:rgb(248, 117, 117);    
    text-decoration: none;

}